/ Header
%header
  .container
    .intro-text
      .intro-lead-in We
      .intro-heading mostly design
      %a.page-scroll.btn.btn-xl{:href => "#services"} Tell Me More
/ Services Section
%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Services
        %h3.section-subheading.text-muted Yes, we do a lot of stuff.
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-building-o.fa-stack-1x.fa-inverse
        %h4.service-heading Interior Design and Landscape consultancy
        %p.text-muted We create souls for spaces.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-paint-brush.fa-stack-1x.fa-inverse
        %h4.service-heading Furniture and Product Design
        %p.text-muted We build almost anything, and sometimes for no reason.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-laptop.fa-stack-1x.fa-inverse
        %h4.service-heading Web Design
        %p.text-muted We design with passion and deliver value.
/ Portfolio Grid Section
%section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Portfolio
        %h3.section-subheading.text-muted Some chapters to share
    .row
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => image_path('portfolio/clubhouse-small.jpg')}
        .portfolio-caption
          %h4 Fortune Builders
          %p.text-muted Interior and Landscape design
/ About Section
%section#about
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading About
        %h3.section-subheading.text-muted We are a small team with a big vision
    .row
      .col-lg-12
        %ul.timeline
          %li
            .timeline-image
              %img.img-circle.img-responsive{:alt => "", :src => image_path('about/1.jpg')}
            .timeline-panel
              .timeline-heading
                %h4 2014
                %h4.subheading Our journey has just begun
              .timeline-body
                %p.text-muted We are young professionals with a passion for mostly design
          %li.timeline-inverted
            .timeline-image
              %h4
                Be Part
                %br
                  Of Our
                  %br Story!
/ Team Section
%section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Our Amazing Team
        %h3.section-subheading.text-muted We are curiously creative and technically sound problem solvers
    .row
      .col-sm-6
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => image_path('team/1.jpg')}
            %h4 Sneha Joshi
            %p.text-muted Designer
            %ul.list-inline.social-buttons
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
      .col-sm-6
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => image_path('team/2.jpg')}
            %h4 Shirshendu Mukherjee
            %p.text-muted Developer
            %ul.list-inline.social-buttons
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %p.h2 Have a project? An idea?
        %p.large.text-muted
          %em Let's build it together.
/ Clients Aside
%aside.clients
  .container
    .row
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => image_path('logos/envato.jpg')}
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => image_path('logos/designmodo.jpg')}
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => image_path('logos/themeforest.jpg')}
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => image_path('logos/creative-market.jpg')}
%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Contact Us
        %h3.section-subheading.text-muted The only thing better than a great idea is bringing that idea to life. Whether you know exactly what you need or you're not sure where to begin, we'd love to hear about your next big thing
        %h3.section-subheading mostly.design@gmail.com
    .row
      .col-lg-12
        %form#contactForm{:name => "sentMessage", :novalidate => ""}
          .row
            .col-md-6
              .form-group
                %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Your Name *", :required => "", :type => "text"}
                  %p.help-block.text-danger
              .form-group
                %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Your Email *", :required => "", :type => "email"}
                  %p.help-block.text-danger
              .form-group
                %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Your Phone *", :required => "", :type => "tel"}
                  %p.help-block.text-danger
            .col-md-6
              .form-group
                %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Your Message *", :required => ""}
                %p.help-block.text-danger
            .clearfix
            .col-lg-12.text-center
              #success
              %button.btn.btn-xl{:type => "submit"} Send Message
/ Portfolio Modals
/ Use the modals below to showcase details about your portfolio projects!
/ Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Fortune Signature
            %p.item-intro.text-muted Club House
            %img.img-responsive{:alt => "", :src => image_path('portfolio/clubhouse.jpg')}
              %p
                •	Partitions design which set a theme. Innovative design techniques, custom glass and jaali work.
                •	Doors and windows were customized framing to stylize the flow.
                •	Decorative false ceilings with levels, jaali, wallpaper and layered lighting.
                •	Paneling and cladding to integrate the bare walls and columns into harmony. 
                •	Custom furniture design incl. reception table, console, storage and display units.
                •	Pool boundary enclosure which allows light along with privacy.
              %ul.list-inline
                %li Date: July 2014
                %li Client: Fortune Builders
                %li Category: Interior Design and Landscape consultancy
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project

